<!DOCTYPE HTML>
<html lang="en">
    <head>

        <meta charset="UTF-8">

        <title>Qixt</title>

        <link rel="stylesheet/less" type="text/css" href="assets/theme.less"/>
        <script src="//cdn.jsdelivr.net/npm/less@3.13" ></script>

    </head>

    <body>

        <p>Hello, {{info.name}}</p>

    </body>
</html>
